<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SendIT | Welcome</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
	
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<h1>SendIT</h1>
			</div>
			<div >
				<ul>
					<li class="current"><a href="#">Home</a></li>
					<li><a href="">Overview</a></li>
					<li><a href="#howework">How we work</a></li>
					<li><a href="#pickup">Pick Up</a></li>
					<li><a href="index.html" id="signin" >Sign in</a></li>
				</ul>
			</div>
		</div>
	</header>

	<section id="showcase">
		<div class="container">
			<div class="start">
				<h1 id="textAlt">Send your parcel from wherever you want to wherever you want with SendIT
				</h1>
				<div id="getStarted">
				<a href="signin.html">Get Started</a>
				</div>
			</div>
			
		</div>		
	</section>	

	<section id="Overview">
		<div class="container">
			<h1>Overview</h1>
			<p>Need to send a parcel? You can trust us to deliver your parcels and your promises at home and abroad taking the same care that you would yourself. We’re equipped with the latest technology and you’ll discover that good quality can also be good value. We offer a wide range of courier services across Rwanda and Worldwide, setting the standard for exceptional quality of service. You can send a parcel to every address in Rwanda.</p>
		</div>
	</section>

	<section id="howework">
		<div class="container">
			<h1>How we work</h1>
			<div class="box">
				<img src="../IMG/store.png">
				<p>Take your parcel to our stores. You can choose your nearest store from the pick up location section </p>
			</div>
			<div class="box">
				<img src="../IMG/delivery.png">
				<p>Use our application to tell us where to deliver your parcel and we will do it as you would.You can even change your destionation location as the parcel is not yet delivered</p>
			</div>
			<div class="box">
				<img src="../IMG/check.png">
				<p>We will notify you when your parcel is well delivered. </p>
			</div>
		</div>
	</section>

	<section id="pickup">
		<div class="container">
			<h1>Pick up Locations</h1>
		</div>
	
	</section>

	<footer>
		<p>SendIT, copyright &copy; 2018</p>
	</footer>
	
</body>
</html>
