<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SendIT | Welcome</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
	
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<h1>SendIT</h1>
			</div>
			<div >
				<ul>
					<li class="current"><a href="#">Home</a></li>
					<li><a href="">Overview</a></li>
					<li><a href="#howework">How we work</a></li>
					<li><a href="#pickup">Pick Up</a></li>
					<li><a href="index.html" id="sign" >Sign out</a></li>
				</ul>
			</div>
		</div>
	</header>

	<section id="showcase">
		<div class="container">
			<div class="start">
				<h1 id="textAlt">Send your parcel from wherever you want to wherever you want with SendIT</h1>
				<button id="getStarted">Get Started</button>
			</div>
			
		</div>		
	</section>	

	<section id="Overview">
		<div class="container">
			<h1>Overview</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</section>

	<section id="howework">
		<div class="container">
			<h1>How we work</h1>
			<div class="box">
				<img src="../IMG/global.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="box">
				<img src="../IMG/delivery.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
			<div class="box">
				<img src="../IMG/global.png">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</div>
		</div>
	</section>

	<section id="pickup">
		<div class="container">
			<h1>Pick up Locations</h1>
		</div>
	
	</section>

	<footer>
		<p>SendIT, copyright &copy; 2018</p>
	</footer>
	
</body>
</html>
