<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>SendIT | Welcome</title>
	<link rel="stylesheet" type="text/css" href="../CSS/Style.css">
	
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<h1>SendIT</h1>
			</div>
			<div>
				<ul>
					<li class="current"><a href="#">Home</a></li>
					<li><a href="parcelOrder.html">Parcel Order</a></li>
					<li><a href="allParcels.html">All Parcels</a></li>
					<li><a href="#howework">How we work</a></li>
					<li><a href="#pickup">Pick Up</a></li>
					<li><a href="index.html" id="sign" >Sign out</a></li>
				</ul>
			</div>
		</div>
	</header>

	<section id="showcase">
		<div class="container">
			<div class="start">
				<h1 id="textAlt">Thank you for choosing to work with us
				</h1>
				<div id="parceloda">
				<a href="parcelOrder.html">Make your order</a>
				</div>
			</div>	
		</div>		
	</section>	

	<section id="howework">
		<div class="container">
			<h1>How we work</h1>
			<div class="box">
				<img src="../IMG/store.png">
				<p>Take your parcel to our stores. You can choose your nearest store from the pick up location section </p>
			</div>
			<div class="box">
				<img src="../IMG/delivery.png">
				<p>Use our application to tell us where to deliver your parcel and we will do it as you would.You can even change your destionation location as the parcel is not yet delivered</p>
			</div>
			<div class="box">
				<img src="../IMG/check.png">
				<p>We will notify you when your parcel is well delivered. </p>
			</div>
		</div>
	</section>

	<section id="pickup">
		<div class="container">
			<h1>Pick up Locations</h1>
		</div>
	
	</section>

	<footer>
		<p>SendIT, copyright &copy; 2018</p>
	</footer>
	
</body>
</html>
