<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SendIT | Sign</title>
    <link rel="stylesheet" type="text/css" href="../CSS/signin.css" />
  </head>
  <body>
    <div class="whole">
      <header>
        <div class="container">
          <div id="logo"><h1>SendIT</h1></div>
        </div>
      </header>
      <section id="fillin">
        <div class="container">
          <h1 id="title">Make your order</h1>
          <div class="formsignin">
            <form
              name="login"
              onsubmit="return validateForm();"
              method="post"
              action="logdin.html"
            >
              <h3>Locations</h3>
              <div class="selec">
                <select
                  name="pickup"
                  id="pickuplo"
                  placeholder="Pick up location"
                >
                  <option value="">Pick up location</option>
                  <option value="Kigali">Kigali</option>
                  <option value="Dar es Salam">Dar es Salam</option>
                  <option value="Mombasa">Mombasa</option>
                  <option value="Nairobi">Nairobi</option>
                  <option value="Bujumbura">Bujumbura</option>
                  <option value="Juba">Juba</option>
                  <option value="Bujumbura">Uganda</option>
                </select>
                <select name="pickup" id="pickuplo" placeholder="">
                  <option value="">Destination location</option>
                  <option value="Kigali">Kigali</option>
                  <option value="Dar es Salam">Dar es Salam</option>
                  <option value="Mombasa">Mombasa</option>
                  <option value="Nairobi">Nairobi</option>
                  <option value="Bujumbura">Bujumbura</option>
                  <option value="Juba">Juba</option>
                  <option value="Bujumbura">Uganda</option>
                </select>
              </div>
              <h3>Parcel details</h3>
              <input type="text" name="Pname" placeholder="Parcel name" /><br />
              <input
                type="number"
                name="p_weight"
                placeholder="Parcel weight"
              />
              <br />

              <button
                type="submit"
                class="submit"
                onclick="alert('Successfully submitted')"
                )
              >
                Send
              </button>
              <button>Cancel</button>
            </form>
            <div class="anychange">
              <ul>
                <a href="#">Forgot your password?</a>
                <a href="signup.html">Don't have an account?</a>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <footer><p>SendIT, copyright &copy; 2018</p></footer>
    </div>
  </body>
</html>
