body{
	font:15px/1.5 Vernada, sans-serif;
	padding: 0 20%;
	background: #d1d1d1;

}


/*Global*/
.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
	
}

ul{
	margin: 0;
	padding: 0;
}
.whole{
	border: solid 1px #d1d1d1;
	background: #ffffff;
	box-shadow: 15px 15px 8px grey
}

/*Header*/

header{
	width: 100%;
	padding-top: 0px;
	background-color: #ffffff;
}

#logo{
	text-align: center;
	color:#321f20;
	border-bottom: solid 1px #d1d1d1;

}
/*Showcase*/

.center{
	padding: 10% 20%;
}
#title{
	text-align: center;
}
.formsignin{
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 10px;
	
}

form input{
	width: 40%;
    padding: .5em .25em;
    margin: 2% 10%;   
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    border: solid 1px #231f20;
    background-color: #eaeaea;
    color:#231f20;
}
input:hover{
	border: solid 1px #ad974f;
	opacity: 0.7;
}
button{
	background-color: #ad974f;
	padding:10px 20px 10px 20px;
	width: 20%;
	text-align: center;
	border: solid 1px #eaeaea;
	color: #eaeaea;
	font-size: 16px;
	}
button:hover{
	background-color: #8e793e;
}

.anychange ul a{
	color: #231f20;
}

.anychange ul a:hover{
	color: #8e793e;
}

footer p{
	text-align: center;
	background-color: #eaeaea;
	color: #231f20;
	padding: 10px 0 10px 0;
}

select  {
	width: 20%;
    padding: .5em .25em;
    margin: 2% 10%;   
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    border: solid 1px #231f20;
    background-color: #eaeaea;
	color:#231f20;
	padding-right: 60%;
}
.selec form input{
	margin-right: 1000px;
}

td .edit:hover{
	background-image: url("../IMG/edit.jpeg") ;
}